[program:php-fpm]
command=/usr/sbin/php-fpm${PHPV} -F --fpm-config /etc/php/${PHPV}/fpm/php-fpm.conf
autostart=true
autorestart=unexpected
priority=5
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
exitcodes=0
